{% extends 'base.html.twig' %}
{% block title %}Forgot password | {{ parent() }}{% endblock %}
{% block content %}
<section>
    {{ include('_heading.html.twig', {title: 'Forgot password'}) }}
    <article>
        {% for l, ms in app.flashes %}
            {% for m in ms %}
                <div class="{{ l }}">{{ m }}</div>
            {% endfor %}
        {% endfor %}
        {{ form(form) }}
    </article>
</section>
{% endblock %}
