{% extends 'base.html.twig' %}
{% block title %}New Recurring Transaction | {{ parent() }}{% endblock %}
{% block content %}
    <article>
        {{ include('_heading.html.twig', {
            actions: {index: 'recurring_transaction_index'},
            title: 'New Recurring Transaction'
        }) }}
        <section>
            {% for flash_error in app.flashes('rec_trans_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.summary) }}
            <div class="form-group">
                <label>Each:</label>
                <div class="inline-fields">
                    {{ form_widget(form.periodNum) }}
                    {{ form_widget(form.periodType) }}
                </div>
            </div>
            {{ form_row(form.startDate) }}
            {{ form_row(form.endDate) }}
            {{ form_row(form.actions) }}
            {{ form_end(form) }}
            {{ include('_initDate.html.twig', {elementId: 'recurring_transaction_startDate'}) }}
            {{ include('_initDate.html.twig', {elementId: 'recurring_transaction_endDate'}) }}
        </section>
    </article>
{% endblock %}
