{% extends 'base.html.twig' %}
{% block title %}Edit Recurring Transaction | {{ parent() }}{% endblock %}
{% block headerText %}Recurring Transaction{% endblock %}
{% block headerActions %}
    {{ include('_actions.html.twig', {
        actions: {
            delete: 'recurring_transaction_delete',
            index: 'recurring_transaction_index',
            view: 'recurring_transaction_view'
        },
        data: recurringTransaction
    }) }}
{% endblock %}
{% block content %}
    <article class="min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <section class="w-full max-w-md space-y-8">
            {% for flash_error in app.flashes('rec_trans_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.summary) }}
            <div class="block">
                <label class="text-gray-700 required">Each:</label>
                <div class="inline-fields">
                    {{ form_widget(form.periodNum, {'attr': {'class': 'w-28'}}) }}
                    {{ form_widget(form.periodType) }}
                </div>
                {{ form_errors(form.periodNum) }}
                {{ form_errors(form.periodType) }}
            </div>
            {{ form_row(form.startDate) }}
            {{ form_row(form.endDate) }}
            {{ form_row(form.actions) }}
            {{ form_end(form) }}
            {{ include('_initDate.html.twig', {elementId: 'recurring_transaction_startDate'}) }}
            {{ include('_initDate.html.twig', {elementId: 'recurring_transaction_endDate'}) }}
        </section>
    </article>
{% endblock %}
