{# Widgets #}
{# It outputs the input inside its label. #}
{% block choice_widget_expanded %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {% set child_label = child.vars.label %}
        {% if child_label is not same as(false) %}
            {% set child_id = child.vars.id %}
            {% set child_compound = child.vars.compound %}
            {% set child_label_attr = child.vars.label_attr %}
            {% set child_label_html = child.vars.label_html %}
            {% set child_required = child.vars.required %}
            {% if not child_compound %}
                {% set child_label_attr = child_label_attr|merge({'for': child_id}) %}
            {% endif %}
            {% if child_required %}
                {% set child_label_attr = child_label_attr|merge({'class': (child_label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if child_label is empty %}
                {% if label_format is not empty %}
                    {% set child_label = label_format|replace({'%name%': name, '%id%': child_id}) %}
                {% else %}
                    {% set child_label = name|humanize %}
                {% endif %}
            {% endif %}
            <{{ element|default('label') }}{% if child_label_attr %}{% with { attr: child_label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
                {{ form_widget(child) }}
                {% if choice_translation_domain is same as(false) %}
                    {% if child_label_html is same as(false) %}
                        {{ child_label }}
                    {% else %}
                        {{ child_label|raw }}
                    {% endif %}
                {% else %}
                    {% if child_label_html is same as(false) %}
                        {{ child_label|trans(label_translation_parameters, choice_translation_domain) }}
                    {% else %}
                        {{ child_label|trans(label_translation_parameters, choice_translation_domain)|raw }}
                    {% endif %}
                {% endif %}
            </{{ element|default('label') }}>
        {% else %}
            {{ form_widget(child) }}
        {% endif %}
    {% endfor %}
    </div>
{% endblock choice_widget_expanded %}

{# It envelopes the widget in a div. #}
{% block color_widget %}
    {% set type = type|default('color') %}
    <div class="color-input-container">
        {{ block('form_widget_simple') }}
    </div>
{% endblock color_widget %}

{% block icon_button_widget %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        <svg class="feather">
            <use xlink:href="{{ absolute_url('/static/icons/feather-sprite.svg#' ~ icon|default('square')) }}"/>
        </svg>
    </button>
{% endblock %}

{% block reset_icon_button_widget %}
    {% set icon = icon|default('x') %}
    {% set type = type|default('reset') %}
    {{ block('icon_button_widget') }}
{% endblock %}

{% block submit_icon_button_widget %}
    {% set icon = icon|default('check') %}
    {% set type = type|default('submit') %}
    {{ block('icon_button_widget') }}
{% endblock %}
{# END Widgets #}

{# Help #}
{# It outputs the help text in a "small" tag. #}
{% block form_help %}
    {% if help is not empty %}
        {% set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' help-text')|trim}) %}
        <small id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {% if translation_domain is same as(false) %}
                {% if help_html is same as(false) %}
                    {{ help }}
                {% else %}
                    {{ help|raw }}
                {% endif %}
            {% else %}
                {% if help_html is same as(false) %}
                    {{ help|trans(help_translation_parameters, translation_domain) }}
                {% else %}
                    {{ help|trans(help_translation_parameters, translation_domain)|raw }}
                {% endif %}
            {% endif %}
        </small>
    {% endif %}
{% endblock form_help %}
{# END Help #}

{# Rows #}
{# It envelopes the widget in an additional div if it has a help text. #}
{% block form_row %}
    {% set widget_attr = {} %}
    {% if help is not empty %}
        {% set widget_attr = {attr: {'aria-describedby': id ~"_help"}} %}
    {% endif %}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {% if help is not empty %}
        <div class="form-help">
            {{ form_widget(form, widget_attr) }}
            {{ form_help(form) }}
        </div>
        {% else %}
            {{ form_widget(form, widget_attr) }}
        {% endif %}
    </div>
{% endblock form_row %}
{# END Rows #}
