{% extends 'base.html.twig' %}
{% block title %}Stats | {{ parent() }}{% endblock %}
{% block headerText %}Stats{% endblock %}
{% block content %}
    <article class="min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <section class="w-full max-w-md space-y-8">
            <div class="view-container">
                <div class="px-4 py-5 sm:px-6">
                    <h2 class="font-bold text-2xl">All time</h2>
                </div>
                <div class="view-data-container">
                    <dl>
                        <div>
                            <dt>Income</dt>
                            <dd>{{ stats.income }}</dd>
                        </div>
                        <div>
                            <dt>Outcome</dt>
                            <dd>{{ stats.outcome }}</dd>
                        </div>
                        <div>
                            <dt>Savings</dt>
                            <dd>{{ stats.savings }}</dd>
                        </div>
                        <div>
                            <canvas id="cat-stats"></canvas>
                        </div>
                    </dl>
                </div>
            </div>
        </section>
    </article>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer>
        const ctx = document.getElementById('cat-stats');
        {% set amounts = [] %}
        {% set colors = [] %}
        {% set names = [] %}
        new Chart(ctx, {
            data: {
                labels: {{ catStats|map(v => v.name)|merge(names)|json_encode(constant('JSON_HEX_TAG'))|raw }},
                datasets: [{
                    backgroundColor: {{ catStats|map(v => v.color)|merge(colors)|json_encode(constant('JSON_HEX_TAG'))|raw }},
                    borderWidth: 1,
                    data: {{ catStats|map(v => v.amount)|merge(amounts)|json_encode(constant('JSON_HEX_TAG'))|raw }},
                    label: 'Amount',
                }],
            },
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                }
            },
            type: 'bar',
        });
    </script>
{% endblock %}
