<section class="page-title">
    <h1>{{ title }}</h1>
    {% if actions is defined %}
        <div class="actions">
        {% if actions.add is defined %}
            <a class="btn btn-icon btn-add" href="{{ url(actions.add) }}">
                <svg class="feather">
                    <use xlink:href="{{ absolute_url('/static/icons/feather-sprite.svg#plus') }}"/>
                </svg>
            </a>
        {% endif %}
        {% if actions.edit is defined %}
            <a class="btn btn-icon btn-edit" href="{{ url(actions.edit, {'id': data.id}) }}">
                <svg class="feather">
                    <use xlink:href="{{ absolute_url('/static/icons/feather-sprite.svg#edit') }}"/>
                </svg>
            </a>
        {% endif %}
        {% if actions.view is defined %}
            <a class="btn btn-icon btn-view" href="{{ url(actions.view, {'id': data.id}) }}">
                <svg class="feather">
                    <use xlink:href="{{ absolute_url('/static/icons/feather-sprite.svg#search') }}"/>
                </svg>
            </a>
        {% endif %}
        {% if actions.delete is defined %}
            <a class="btn btn-icon btn-delete confirm-deletion" href="{{ url(actions.delete, {'id': data.id}) }}"
                data-deletion-name="{{ data.name }}"
                data-deletion-title="Category"
            >
                <svg class="feather">
                    <use xlink:href="{{ absolute_url('/static/icons/feather-sprite.svg#trash') }}"/>
                </svg>
            </a>
        {% endif %}
        {% if actions.index is defined %}
            <a class="btn btn-icon btn-list" href="{{ url(actions.index) }}">
                <svg class="feather">
                    <use xlink:href="{{ absolute_url('/static/icons/feather-sprite.svg#list') }}"/>
                </svg>
            </a>
        {% endif %}
        </div>
    {% endif %}
</section>
